workflows/agente_ia_human_in_the_loop.json
{
  "updatedAt": "2026-03-12T10:55:53.312Z",
  "createdAt": "2026-03-12T10:28:52.602Z",
  "id": "P9Tf8l6Pm8xOfjZw",
  "name": "agente ia human in the loop",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -352,
        -152
      ],
      "id": "a91ffbb4-ef5e-4ab5-a15e-c11c85d8eebf",
      "name": "When chat message received",
      "webhookId": "3428fad0-1501-4a76-89e7-d7dd370eacaa"
    },
    {
      "parameters": {
        "inputText": "={{ $json.chatInput }}",
        "categories": {
          "categories": [
            {
              "category": "deporte",
              "description": "texto sobre deporte"
            },
            {
              "category": "historico",
              "description": "texto histórico o novelas"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -112,
        -192
      ],
      "id": "15730af2-4330-4452-bf1c-a1178c0a7067",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "attributes": {
          "attributes": [
            {
              "name": "nombre_empresa",
              "description": "nombre de la empresa indicada",
              "required": true
            },
            {
              "name": "importe",
              "description": "importe de la venta o compra de la factura",
              "required": true
            },
            {
              "name": "tipo_operacion",
              "description": "si es un gasto o un ingreso"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -112,
        -432
      ],
      "id": "6af0cc4a-3b2f-4456-9e97-a82d0fc8739d",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        -32,
        192
      ],
      "id": "91bf0b69-e529-4ea8-965f-d8836f6946d0",
      "name": "Sentiment Analysis"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -368,
        240
      ],
      "id": "1ccb7186-4c1d-41b2-aeaa-f02e0a6a398a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "N2JeEF92nbocT2XP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        -16
      ],
      "id": "fee0e08c-0af1-400e-83a5-db2349c668f5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "RTwuewuhab5nutx5",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a02170f7-46dc-484a-b0fc-25bcded422b9",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-12T10:28:52.606Z",
      "createdAt": "2026-03-12T10:28:52.606Z",
      "role": "workflow:owner",
      "workflowId": "P9Tf8l6Pm8xOfjZw",
      "projectId": "MmvYKa71ccIMyArc"
    }
  ],
  "activeVersion": null,
  "tags": []
}