workflows/agente_ia_human_in_the_loop.json
{
  "updatedAt": "2026-03-12T11:48:57.011Z",
  "createdAt": "2026-03-12T10:28:52.602Z",
  "id": "P9Tf8l6Pm8xOfjZw",
  "name": "agente ia human in the loop",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -352,
        -152
      ],
      "id": "a91ffbb4-ef5e-4ab5-a15e-c11c85d8eebf",
      "name": "When chat message received",
      "webhookId": "3428fad0-1501-4a76-89e7-d7dd370eacaa"
    },
    {
      "parameters": {
        "inputText": "={{ $json.chatInput }}",
        "categories": {
          "categories": [
            {
              "category": "deporte",
              "description": "texto sobre deporte"
            },
            {
              "category": "historico",
              "description": "texto histórico o novelas"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -112,
        -192
      ],
      "id": "15730af2-4330-4452-bf1c-a1178c0a7067",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "attributes": {
          "attributes": [
            {
              "name": "nombre_empresa",
              "description": "nombre de la empresa indicada",
              "required": true
            },
            {
              "name": "importe",
              "description": "importe de la venta o compra de la factura",
              "required": true
            },
            {
              "name": "tipo_operacion",
              "description": "si es un gasto o un ingreso"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -112,
        -432
      ],
      "id": "6af0cc4a-3b2f-4456-9e97-a82d0fc8739d",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "inputText": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        -32,
        192
      ],
      "id": "91bf0b69-e529-4ea8-965f-d8836f6946d0",
      "name": "Sentiment Analysis"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -368,
        240
      ],
      "id": "1ccb7186-4c1d-41b2-aeaa-f02e0a6a398a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "N2JeEF92nbocT2XP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        -16
      ],
      "id": "fee0e08c-0af1-400e-83a5-db2349c668f5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "RTwuewuhab5nutx5",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "fersaenz181@gmail.com",
        "subject": "Aprobar",
        "message": "={{ $('When chat message received').item.json.chatInput }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        320,
        80
      ],
      "id": "8ef5590f-0307-4f69-b3a6-a17a05f8af17",
      "name": "Send a message",
      "webhookId": "1adb644f-3f7a-43b9-b69e-63ca9a9d6c57",
      "credentials": {
        "gmailOAuth2": {
          "id": "5l0z46fsgRK7m0J7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3ac4d031-7925-4386-bd69-3e60bbc886b5"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "54c77a02-53c6-414b-8f21-e3ce7e28538d",
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        528,
        80
      ],
      "id": "b0ef2d97-e0e7-4b2e-912d-f18279adcedf",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        736,
        176
      ],
      "id": "f3a6df1c-389b-4d14-b319-90adc1abb535",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "sendTo": "fersaenz181@gmail.com",
        "subject": "Proyecto",
        "message": "Hola Laura,  Gracias por tu mensaje y por revisar la propuesta con tu equipo.  Nos alegra saber que veis potencial para avanzar. Por nuestra parte estamos abiertos a revisar el esquema de comisiones y los plazos de implementación para encontrar un punto que funcione bien para ambos.  Si te parece, podemos comentarlo con más detalle en una reunión. Tengo disponibilidad esta semana el miércoles o el jueves por la mañana, pero puedo adaptarme si otro horario os encaja mejor.  Quedo atento a tu confirmación.  Un saludo, Carlos",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        736,
        32
      ],
      "id": "f09d59a2-d334-4708-a6c7-531de287d581",
      "name": "Send a message1",
      "webhookId": "31e0575e-e43a-4eca-980a-f00a75cc65a6",
      "credentials": {
        "gmailOAuth2": {
          "id": "5l0z46fsgRK7m0J7",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "15611407-30a4-4fb0-aa10-212681cc2384",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-12T10:28:52.606Z",
      "createdAt": "2026-03-12T10:28:52.606Z",
      "role": "workflow:owner",
      "workflowId": "P9Tf8l6Pm8xOfjZw",
      "projectId": "MmvYKa71ccIMyArc"
    }
  ],
  "activeVersion": null,
  "tags": []
}