workflows/BACK_UP.json
{
  "updatedAt": "2026-02-20T15:33:03.310Z",
  "createdAt": "2026-02-19T10:05:37.111Z",
  "id": "04dKSMyiS0H6BzJ-wj4bu",
  "name": "BACK UP",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        -224
      ],
      "id": "3fa8340f-f162-410f-a7cd-6e34022cc4d2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -176,
        -32
      ],
      "id": "c0eb6225-921e-430b-a54c-d777904f6198",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71050589-04ab-41b8-8674-5c6c58e30615",
              "name": "repo.owner",
              "value": "fersaenz181-collab",
              "type": "string"
            },
            {
              "id": "6781701e-c956-42bf-9890-5b5789a81827",
              "name": "repo.name",
              "value": "UDIA_N8N_WORKFLOW2",
              "type": "string"
            },
            {
              "id": "f86aa250-3416-4118-bfd8-aac76752835a",
              "name": "repo.path",
              "value": "workflows/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -208
      ],
      "id": "6c6b5b7d-b716-476c-8d18-f9a460def49b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        272,
        -208
      ],
      "id": "7510d80f-a705-4c9b-a535-948c2d62525d",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "tNoD2VM1duRZIx31",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        496,
        -208
      ],
      "id": "2f55dde8-25cb-4dcf-90ca-0c7a59b3ad6f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        720,
        -320
      ],
      "id": "3fe72764-fb9a-4a9b-8ed6-4fa4252ba901"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Edit Fields').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Edit Fields').item.json.repo.name }}"
        },
        "filePath": "={{ `workflows/${$json.name.replace(/\\s+/g, \"_\").replace(/[^\\w\\-]/g, \"\")}.json` }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        720,
        -128
      ],
      "id": "b6990f1b-40e0-4777-bced-377b96cf0fad",
      "name": "Get a file",
      "webhookId": "0034b34a-2e4a-4f93-a6cf-d266bfe5a88e",
      "credentials": {
        "githubApi": {
          "id": "1sshuaGbXQ7mL1lT",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 🔹 Datos del workflow (vienen del Loop / Get many workflows)\nconst workflow = $('Loop Over Items').item.json;\n\n// 🔹 Config repo\nconst repo_owner = \"fersaenz181-collab\";\nconst repo_name = \"UDIA_N8N_WORKFLOW2\";\n\n// 🔹 Limpiar nombre del workflow\nconst safeName = workflow.name\n  .replace(/\\s+/g, \"_\")\n  .replace(/[^\\w\\-]/g, \"\");\n\nconst repo_path = `workflows/${safeName}.json`;\n\n// 🔹 Convertir workflow a string\nconst workflowString = JSON.stringify(workflow, null, 2);\n\n// 🔹 Convertir a base64 (GitHub lo exige)\nconst contentBase64 = Buffer\n  .from(workflowString)\n  .toString(\"base64\");\n\n// 🔹 Preparar objeto base\nconst baseData = {\n  repo_owner,\n  repo_name,\n  repo_path,\n  content: contentBase64,\n  commit_message: `Backup workflow ${workflow.name}`\n};\n\n// ======================================================\n// 🔹 Leer resultado del nodo \"Get a file\"\n// ======================================================\nlet githubFile;\n\ntry {\n  githubFile = $('Get a file').item.json;\n} catch (e) {\n  githubFile = null;\n}\n\n// ======================================================\n// 🔹 CASO 1: No existe en GitHub\n// ======================================================\nif (!githubFile || !githubFile.sha) {\n  return [{\n    json: {\n      ...baseData,\n      estado: \"nuevo\",\n      sha: null\n    }\n  }];\n}\n\n// ======================================================\n// 🔹 CASO 2: Existe → comparar contenido\n// ======================================================\nconst githubContent = githubFile.content\n  ? githubFile.content.replace(/\\n/g, \"\")\n  : null;\n\nif (githubContent === contentBase64) {\n  return [{\n    json: {\n      ...baseData,\n      estado: \"igual\",\n      sha: githubFile.sha\n    }\n  }];\n}\n\n// ======================================================\n// 🔹 CASO 3: Existe pero cambió\n// ======================================================\nreturn [{\n  json: {\n    ...baseData,\n    estado: \"diferente\",\n    sha: githubFile.sha\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        -64
      ],
      "id": "de03ca99-6c33-42b6-9a22-fa3df473f663",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        944,
        -128
      ],
      "id": "b5a757d4-db17-4977-9eea-c4057e977010",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.estado }}",
                    "rightValue": "=nuevo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b0bb3dd9-0143-4869-85e4-3bfb9bcbcec1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "0"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "12bf3bac-1746-4055-b07e-735273bf593d",
                    "leftValue": "={{ $json.estado }}",
                    "rightValue": "diferente",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fff45810-71cd-4206-9011-b69be7f2dd79",
                    "leftValue": "={{ $json.estado }}",
                    "rightValue": "igual",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1392,
        -144
      ],
      "id": "822e421f-e223-4fcf-aaa2-67281729e217",
      "name": "Switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b503a013-1e4f-45ed-baa7-c4c8dcbce1b4"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -176,
        288
      ],
      "id": "2d0b9add-af34-4fa9-8555-b2db56eec8c1",
      "name": "Switch1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "nuevo",
      "typeVersion": 1,
      "position": [
        1616,
        -320
      ],
      "id": "84010283-ddba-405c-8018-a844747ff9dc"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1616,
        -128
      ],
      "id": "d6081fe5-bd42-468d-8508-9416a0664050",
      "name": "Diferente"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1616,
        64
      ],
      "id": "820867a6-9d44-4480-8b01-905db0d57d34",
      "name": "Igual"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $json.repo_owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repo_name }}",
          "mode": "name"
        },
        "filePath": "={{ $json.repo_path }}",
        "fileContent": "={{ $json.content }}",
        "commitMessage": "={{ $json.commit_message }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1824,
        -128
      ],
      "id": "0d626346-292f-48af-9e88-21fe06aba701",
      "name": "Edit a file",
      "webhookId": "217bcaed-851d-4e3d-b1b5-a8ee25d971f1",
      "credentials": {
        "githubApi": {
          "id": "1sshuaGbXQ7mL1lT",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('Code in JavaScript').item.json.repo_owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Code in JavaScript').item.json.repo_name }}",
          "mode": "name"
        },
        "filePath": "={{ $('Code in JavaScript').item.json.repo_path }}",
        "fileContent": "={{ $('Code in JavaScript').item.json.content }}",
        "commitMessage": "={{ $('Code in JavaScript').item.json.commit_message }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1792,
        -336
      ],
      "id": "d7e59c72-2c32-4a5a-8f4b-974a5d35c528",
      "name": "Create a file",
      "webhookId": "41db1e24-3820-4ba0-bcbe-26b83c2c7290",
      "credentials": {
        "githubApi": {
          "id": "1sshuaGbXQ7mL1lT",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        []
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "nuevo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Diferente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Igual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nuevo": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Igual": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diferente": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a269a5eb-eecd-4bdd-a592-a481b10c5622",
  "activeVersionId": "a269a5eb-eecd-4bdd-a592-a481b10c5622",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-19T10:05:37.114Z",
      "createdAt": "2026-02-19T10:05:37.114Z",
      "role": "workflow:owner",
      "workflowId": "04dKSMyiS0H6BzJ-wj4bu",
      "projectId": "MmvYKa71ccIMyArc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-20T15:33:07.000Z",
    "createdAt": "2026-02-20T15:24:38.009Z",
    "versionId": "a269a5eb-eecd-4bdd-a592-a481b10c5622",
    "workflowId": "04dKSMyiS0H6BzJ-wj4bu",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -176,
          -224
        ],
        "id": "3fa8340f-f162-410f-a7cd-6e34022cc4d2",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 12
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -176,
          -32
        ],
        "id": "c0eb6225-921e-430b-a54c-d777904f6198",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "71050589-04ab-41b8-8674-5c6c58e30615",
                "name": "repo.owner",
                "value": "fersaenz181-collab",
                "type": "string"
              },
              {
                "id": "6781701e-c956-42bf-9890-5b5789a81827",
                "name": "repo.name",
                "value": "UDIA_N8N_WORKFLOW2",
                "type": "string"
              },
              {
                "id": "f86aa250-3416-4118-bfd8-aac76752835a",
                "name": "repo.path",
                "value": "workflows/",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          48,
          -208
        ],
        "id": "6c6b5b7d-b716-476c-8d18-f9a460def49b",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          272,
          -208
        ],
        "id": "7510d80f-a705-4c9b-a535-948c2d62525d",
        "name": "Get many workflows",
        "credentials": {
          "n8nApi": {
            "id": "tNoD2VM1duRZIx31",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          496,
          -208
        ],
        "id": "2f55dde8-25cb-4dcf-90ca-0c7a59b3ad6f",
        "name": "Loop Over Items"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "name": "Replace Me",
        "typeVersion": 1,
        "position": [
          720,
          -320
        ],
        "id": "3fe72764-fb9a-4a9b-8ed6-4fa4252ba901"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Edit Fields').item.json.repo.owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Edit Fields').item.json.repo.name }}"
          },
          "filePath": "={{ `workflows/${$json.name.replace(/\\s+/g, \"_\").replace(/[^\\w\\-]/g, \"\")}.json` }}",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          720,
          -128
        ],
        "id": "b6990f1b-40e0-4777-bced-377b96cf0fad",
        "name": "Get a file",
        "webhookId": "0034b34a-2e4a-4f93-a6cf-d266bfe5a88e",
        "credentials": {
          "githubApi": {
            "id": "1sshuaGbXQ7mL1lT",
            "name": "GitHub account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// 🔹 Datos del workflow (vienen del Loop / Get many workflows)\nconst workflow = $('Loop Over Items').item.json;\n\n// 🔹 Config repo\nconst repo_owner = \"fersaenz181-collab\";\nconst repo_name = \"UDIA_N8N_WORKFLOW2\";\n\n// 🔹 Limpiar nombre del workflow\nconst safeName = workflow.name\n  .replace(/\\s+/g, \"_\")\n  .replace(/[^\\w\\-]/g, \"\");\n\nconst repo_path = `workflows/${safeName}.json`;\n\n// 🔹 Convertir workflow a string\nconst workflowString = JSON.stringify(workflow, null, 2);\n\n// 🔹 Convertir a base64 (GitHub lo exige)\nconst contentBase64 = Buffer\n  .from(workflowString)\n  .toString(\"base64\");\n\n// 🔹 Preparar objeto base\nconst baseData = {\n  repo_owner,\n  repo_name,\n  repo_path,\n  content: contentBase64,\n  commit_message: `Backup workflow ${workflow.name}`\n};\n\n// ======================================================\n// 🔹 Leer resultado del nodo \"Get a file\"\n// ======================================================\nlet githubFile;\n\ntry {\n  githubFile = $('Get a file').item.json;\n} catch (e) {\n  githubFile = null;\n}\n\n// ======================================================\n// 🔹 CASO 1: No existe en GitHub\n// ======================================================\nif (!githubFile || !githubFile.sha) {\n  return [{\n    json: {\n      ...baseData,\n      estado: \"nuevo\",\n      sha: null\n    }\n  }];\n}\n\n// ======================================================\n// 🔹 CASO 2: Existe → comparar contenido\n// ======================================================\nconst githubContent = githubFile.content\n  ? githubFile.content.replace(/\\n/g, \"\")\n  : null;\n\nif (githubContent === contentBase64) {\n  return [{\n    json: {\n      ...baseData,\n      estado: \"igual\",\n      sha: githubFile.sha\n    }\n  }];\n}\n\n// ======================================================\n// 🔹 CASO 3: Existe pero cambió\n// ======================================================\nreturn [{\n  json: {\n    ...baseData,\n    estado: \"diferente\",\n    sha: githubFile.sha\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1168,
          -64
        ],
        "id": "de03ca99-6c33-42b6-9a22-fa3df473f663",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          944,
          -128
        ],
        "id": "b5a757d4-db17-4977-9eea-c4057e977010",
        "name": "Merge",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.estado }}",
                      "rightValue": "=nuevo",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "b0bb3dd9-0143-4869-85e4-3bfb9bcbcec1"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "0"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "12bf3bac-1746-4055-b07e-735273bf593d",
                      "leftValue": "={{ $json.estado }}",
                      "rightValue": "diferente",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "1"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "fff45810-71cd-4206-9011-b69be7f2dd79",
                      "leftValue": "={{ $json.estado }}",
                      "rightValue": "igual",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "2"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          1392,
          -144
        ],
        "id": "822e421f-e223-4fcf-aaa2-67281729e217",
        "name": "Switch"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "b503a013-1e4f-45ed-baa7-c4c8dcbce1b4"
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -176,
          288
        ],
        "id": "2d0b9add-af34-4fa9-8555-b2db56eec8c1",
        "name": "Switch1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "name": "nuevo",
        "typeVersion": 1,
        "position": [
          1616,
          -320
        ],
        "id": "84010283-ddba-405c-8018-a844747ff9dc"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1616,
          -128
        ],
        "id": "d6081fe5-bd42-468d-8508-9416a0664050",
        "name": "Diferente"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1616,
          64
        ],
        "id": "820867a6-9d44-4480-8b01-905db0d57d34",
        "name": "Igual"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "={{ $json.repo_owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $json.repo_name }}",
            "mode": "name"
          },
          "filePath": "={{ $json.repo_path }}",
          "fileContent": "={{ $json.content }}",
          "commitMessage": "={{ $json.commit_message }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          1824,
          -128
        ],
        "id": "0d626346-292f-48af-9e88-21fe06aba701",
        "name": "Edit a file",
        "webhookId": "217bcaed-851d-4e3d-b1b5-a8ee25d971f1",
        "credentials": {
          "githubApi": {
            "id": "1sshuaGbXQ7mL1lT",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "={{ $('Code in JavaScript').item.json.repo_owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Code in JavaScript').item.json.repo_name }}",
            "mode": "name"
          },
          "filePath": "={{ $('Code in JavaScript').item.json.repo_path }}",
          "fileContent": "={{ $('Code in JavaScript').item.json.content }}",
          "commitMessage": "={{ $('Code in JavaScript').item.json.commit_message }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          1792,
          -336
        ],
        "id": "d7e59c72-2c32-4a5a-8f4b-974a5d35c528",
        "name": "Create a file",
        "webhookId": "41db1e24-3820-4ba0-bcbe-26b83c2c7290",
        "credentials": {
          "githubApi": {
            "id": "1sshuaGbXQ7mL1lT",
            "name": "GitHub account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Get many workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Replace Me",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Replace Me": {
        "main": [
          []
        ]
      },
      "Get a file": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "nuevo",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Diferente",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Igual",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "nuevo": {
        "main": [
          [
            {
              "node": "Create a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Igual": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Diferente": {
        "main": [
          [
            {
              "node": "Edit a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a file": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit a file": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Fernando  Saenz",
    "name": "Version a269a5eb",
    "description": "",
    "autosaved": true
  },
  "tags": []
}