workflows/creacion_de_rag.json
{
  "updatedAt": "2026-02-16T09:33:32.974Z",
  "createdAt": "2026-02-13T16:57:50.173Z",
  "id": "3nlgcvxaxg9ykJWUC1_Rn",
  "name": "creacion de rag",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1gHMRlxARi7pR_GngbjG_t8_fA6EwWcCu",
          "mode": "list",
          "cachedResultName": "RAG_UDIA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1gHMRlxARi7pR_GngbjG_t8_fA6EwWcCu"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9f538a5c-de86-4add-8e25-9d1115a5b91e",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KhrDgrNlHorw4hMz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "5d776263-469a-4821-bd05-b359806eee0a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KhrDgrNlHorw4hMz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n1536",
          "mode": "list",
          "cachedResultName": "n8n1536"
        },
        "options": {
          "pineconeNamespace": "udia_rag"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        448,
        0
      ],
      "id": "9c0708f1-3827-4e5f-a238-aeca1cab3bd4",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "s7tR8Lpm0Gu5QA4k",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        192,
        192
      ],
      "id": "cae38de7-3c05-4b53-bf88-9d41d4edf747",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "N2JeEF92nbocT2XP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        608,
        144
      ],
      "id": "ce7c44da-92c2-488e-b093-6bb9a3013ea0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        800,
        240
      ],
      "id": "1aa0bc2a-0e3d-4dd9-a2e4-4f4dc777b739",
      "name": "Recursive Character Text Splitter1"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "12ea02bf-1f6d-4ca4-ac9a-b22874cf8636",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-13T16:57:50.178Z",
      "createdAt": "2026-02-13T16:57:50.178Z",
      "role": "workflow:owner",
      "workflowId": "3nlgcvxaxg9ykJWUC1_Rn",
      "projectId": "MmvYKa71ccIMyArc"
    }
  ],
  "activeVersion": null,
  "tags": []
}