workflows/disponibilidad.json
{
  "updatedAt": "2026-04-16T10:39:04.628Z",
  "createdAt": "2026-03-13T09:48:17.248Z",
  "id": "NXGOaWHN5onyWLmL",
  "name": "disponibilidad",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "fecha"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        320
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.fecha }}",
        "format": "yyyy-MM-dd",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        272,
        320
      ],
      "id": "7e3da813-3c69-4c7e-b323-b162b3f1bbe1",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Devuelveme los espacios disponibles en el calendario el {{ $('Date & Time').item.json.formattedDate }} en espacios de 60 minutos.\n\nEstos son los datos de ocupación por hora:\n{{ JSON.stringify($input.all()) }}\n\nReglas:\n- Si citas = 0 → disponible\n- Si citas = 1 → disponible (última plaza)\n- Si citas = 2 → no disponible\n\nEl output debe ser así:\n\n9:00\n\n11:00\n\n13:00\n\n15:00"
            },
            {
              "role": "system",
              "content": "=You are an AI assistant specialized in calendar availability management.\n\nYou are an AI assistant specialized in calendar availability management.\n\nYou receive a list of time slots with the number of booked appointments for each hour.\n\nEach item has:\n- \"hora\": the hour of the slot (e.g. \"09:00\")\n- \"citas\": number of booked appointments in that hour\n\nWORKING RULES\n\n1. The working schedule is from 09:00 to 17:00.\n2. Each hour can have a maximum of 2 appointments.\n3. A time slot is considered:\n   - Available if citas is 0\n   - Available (last spot) if citas is 1\n   - Full if citas is 2\n\nYOUR TASK\n\n- Return only the available time slots (where citas < 2)\n- Do not include full slots\n- Do not invent new time slots\n\nOUTPUT FORMAT (FOR INTERNAL USE JSON)\n\n{\n  \"available_slots\": [\"09:00\", \"10:00\", \"11:00\"]\n}\n\nFINAL USER FORMAT\n\nReturn the hours in a simple list format like:\n\n09:00\n10:00\n11:00\n\nIf a slot has only 1 appointment, you may indicate:\n\"09:00 (última plaza)\"\n\nWORKING RULES\n\n1. The working schedule is from **09:00 to 17:00**.\n2. Each appointment has a **fixed duration of 60 minutes**.\n3. The calendar tool returns **only the occupied time intervals**.\n4. Your task is to determine which time slots are **still available**.\n5. All calculations must be performed strictly within the working hours.\n\nAVAILABILITY CALCULATION PROCESS\n\n1. Divide the working day (09:00–17:00) into **60-minute time blocks**.\n2. Compare each block against the occupied intervals returned by the tool.\n3. If a block overlaps partially or fully with an occupied interval, that block must be removed.\n4. The remaining blocks represent the **available appointment slots**.\n\nIMPORTANT RULES\n\n* Never invent time slots.\n* Only use the occupied intervals returned by the tool.\n* If all blocks are occupied, return an empty list.\n* Do not include slots outside the working hours.\n\nEXPECTED OUTPUT FORMAT (JSON)\n\n{\n\"available_slots\": [\n\"2025-07-08T09:00:00\",\n\"2025-07-08T10:00:00\",\n\"2025-07-08T12:00:00\",\n\"2025-07-08T14:00:00\"\n]\n}\n\nEach element represents the **start time of an available 60-minute appointment slot**.\n\nEjemplo de output final para el usuario es:\n8:00\n11:00\n12:00\n15:00\n16:00"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1024,
        368
      ],
      "id": "5b73f64e-bb9a-435f-8735-99f3b4d0b254",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "N2JeEF92nbocT2XP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "fersaenz181@gmail.com",
          "mode": "list",
          "cachedResultName": "clinican8n"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        784,
        736
      ],
      "id": "786aeb7f-54f1-4f4d-ae9a-85af5b4ea381",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pjBvS4mIslDHoJiA",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "fersaenz181@gmail.com",
          "mode": "list",
          "cachedResultName": "clinican8n"
        },
        "timeMin": "={{ $json.formattedDate + \"T00:00:00\" }}",
        "timeMax": "={{ $json.formattedDate + \"T23:59:59\" }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        544,
        320
      ],
      "id": "73f178ee-5857-45b7-afd4-d03a5a83b378",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pjBvS4mIslDHoJiA",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": " const slots = {};\n\nfor (const item of items) {\n\n  const start = item.json.start?.dateTime;\n\n  if (!start) continue;\n\n  const date = new Date(start);\n\n  const hour = date.toLocaleString(\"es-ES\", {\n    timeZone: \"Europe/Madrid\",\n    hour: \"2-digit\",\n    hour12: false\n  }) + \":00\";\n\n  if (!slots[hour]) {\n    slots[hour] = 0;\n  }\n\n  slots[hour]++;\n}\n\nconst horasDelDia = [\n  \"09:00\",\"10:00\",\"11:00\",\"12:00\",\n  \"13:00\",\"14:00\",\"15:00\",\"16:00\"\n];\n\nconst disponibilidad = [];\n\nfor (const hora of horasDelDia) {\n\n  const citas = slots[hora] || 0;\n\n  if (citas < 2) {\n    disponibilidad.push({\n      hora,\n      citas\n    });\n  }\n}\n\nreturn disponibilidad.map(h => ({ json: h }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        320
      ],
      "id": "2f2ea1f7-bb51-45fc-996a-48bb4877fb76",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        []
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "fecha": "2026-04-17"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "dd9a8524-135f-4893-a191-41fc79bd8cef",
  "activeVersionId": "dd9a8524-135f-4893-a191-41fc79bd8cef",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-13T09:48:17.251Z",
      "createdAt": "2026-03-13T09:48:17.251Z",
      "role": "workflow:owner",
      "workflowId": "NXGOaWHN5onyWLmL",
      "projectId": "MmvYKa71ccIMyArc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-16T10:39:30.000Z",
    "createdAt": "2026-04-16T10:39:04.629Z",
    "versionId": "dd9a8524-135f-4893-a191-41fc79bd8cef",
    "workflowId": "NXGOaWHN5onyWLmL",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "fecha"
              }
            ]
          }
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          0,
          320
        ],
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "operation": "formatDate",
          "date": "={{ $json.fecha }}",
          "format": "yyyy-MM-dd",
          "options": {}
        },
        "type": "n8n-nodes-base.dateTime",
        "typeVersion": 2,
        "position": [
          272,
          320
        ],
        "id": "7e3da813-3c69-4c7e-b323-b162b3f1bbe1",
        "name": "Date & Time"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4.1-mini",
            "mode": "list",
            "cachedResultName": "GPT-4.1-MINI"
          },
          "responses": {
            "values": [
              {
                "content": "=Devuelveme los espacios disponibles en el calendario el {{ $('Date & Time').item.json.formattedDate }} en espacios de 60 minutos.\n\nEstos son los datos de ocupación por hora:\n{{ JSON.stringify($input.all()) }}\n\nReglas:\n- Si citas = 0 → disponible\n- Si citas = 1 → disponible (última plaza)\n- Si citas = 2 → no disponible\n\nEl output debe ser así:\n\n9:00\n\n11:00\n\n13:00\n\n15:00"
              },
              {
                "role": "system",
                "content": "=You are an AI assistant specialized in calendar availability management.\n\nYou are an AI assistant specialized in calendar availability management.\n\nYou receive a list of time slots with the number of booked appointments for each hour.\n\nEach item has:\n- \"hora\": the hour of the slot (e.g. \"09:00\")\n- \"citas\": number of booked appointments in that hour\n\nWORKING RULES\n\n1. The working schedule is from 09:00 to 17:00.\n2. Each hour can have a maximum of 2 appointments.\n3. A time slot is considered:\n   - Available if citas is 0\n   - Available (last spot) if citas is 1\n   - Full if citas is 2\n\nYOUR TASK\n\n- Return only the available time slots (where citas < 2)\n- Do not include full slots\n- Do not invent new time slots\n\nOUTPUT FORMAT (FOR INTERNAL USE JSON)\n\n{\n  \"available_slots\": [\"09:00\", \"10:00\", \"11:00\"]\n}\n\nFINAL USER FORMAT\n\nReturn the hours in a simple list format like:\n\n09:00\n10:00\n11:00\n\nIf a slot has only 1 appointment, you may indicate:\n\"09:00 (última plaza)\"\n\nWORKING RULES\n\n1. The working schedule is from **09:00 to 17:00**.\n2. Each appointment has a **fixed duration of 60 minutes**.\n3. The calendar tool returns **only the occupied time intervals**.\n4. Your task is to determine which time slots are **still available**.\n5. All calculations must be performed strictly within the working hours.\n\nAVAILABILITY CALCULATION PROCESS\n\n1. Divide the working day (09:00–17:00) into **60-minute time blocks**.\n2. Compare each block against the occupied intervals returned by the tool.\n3. If a block overlaps partially or fully with an occupied interval, that block must be removed.\n4. The remaining blocks represent the **available appointment slots**.\n\nIMPORTANT RULES\n\n* Never invent time slots.\n* Only use the occupied intervals returned by the tool.\n* If all blocks are occupied, return an empty list.\n* Do not include slots outside the working hours.\n\nEXPECTED OUTPUT FORMAT (JSON)\n\n{\n\"available_slots\": [\n\"2025-07-08T09:00:00\",\n\"2025-07-08T10:00:00\",\n\"2025-07-08T12:00:00\",\n\"2025-07-08T14:00:00\"\n]\n}\n\nEach element represents the **start time of an available 60-minute appointment slot**.\n\nEjemplo de output final para el usuario es:\n8:00\n11:00\n12:00\n15:00\n16:00"
              }
            ]
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          1024,
          368
        ],
        "id": "5b73f64e-bb9a-435f-8735-99f3b4d0b254",
        "name": "Message a model",
        "credentials": {
          "openAiApi": {
            "id": "N2JeEF92nbocT2XP",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "fersaenz181@gmail.com",
            "mode": "list",
            "cachedResultName": "clinican8n"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          784,
          736
        ],
        "id": "786aeb7f-54f1-4f4d-ae9a-85af5b4ea381",
        "name": "Get many events in Google Calendar",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "pjBvS4mIslDHoJiA",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "fersaenz181@gmail.com",
            "mode": "list",
            "cachedResultName": "clinican8n"
          },
          "timeMin": "={{ $json.formattedDate + \"T00:00:00\" }}",
          "timeMax": "={{ $json.formattedDate + \"T23:59:59\" }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          544,
          320
        ],
        "id": "73f178ee-5857-45b7-afd4-d03a5a83b378",
        "name": "Get many events",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "pjBvS4mIslDHoJiA",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": " const slots = {};\n\nfor (const item of items) {\n\n  const start = item.json.start?.dateTime;\n\n  if (!start) continue;\n\n  const date = new Date(start);\n\n  const hour = date.toLocaleString(\"es-ES\", {\n    timeZone: \"Europe/Madrid\",\n    hour: \"2-digit\",\n    hour12: false\n  }) + \":00\";\n\n  if (!slots[hour]) {\n    slots[hour] = 0;\n  }\n\n  slots[hour]++;\n}\n\nconst horasDelDia = [\n  \"09:00\",\"10:00\",\"11:00\",\"12:00\",\n  \"13:00\",\"14:00\",\"15:00\",\"16:00\"\n];\n\nconst disponibilidad = [];\n\nfor (const hora of horasDelDia) {\n\n  const citas = slots[hora] || 0;\n\n  if (citas < 2) {\n    disponibilidad.push({\n      hora,\n      citas\n    });\n  }\n}\n\nreturn disponibilidad.map(h => ({ json: h }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          816,
          320
        ],
        "id": "2f2ea1f7-bb51-45fc-996a-48bb4877fb76",
        "name": "Code in JavaScript"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Date & Time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Date & Time": {
        "main": [
          [
            {
              "node": "Get many events",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many events in Google Calendar": {
        "ai_tool": [
          []
        ]
      },
      "Get many events": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Message a model",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message a model": {
        "main": [
          []
        ]
      }
    },
    "authors": "Fernando  Saenz",
    "name": "Version dd9a8524",
    "description": "",
    "autosaved": true
  },
  "tags": []
}