workflows/disponibilidad.json
{
  "updatedAt": "2026-03-16T11:00:01.132Z",
  "createdAt": "2026-03-13T09:48:17.248Z",
  "id": "NXGOaWHN5onyWLmL",
  "name": "disponibilidad",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "fecha"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        256,
        336
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.fecha }}",
        "format": "yyyy-MM-dd",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        480,
        336
      ],
      "id": "7e3da813-3c69-4c7e-b323-b162b3f1bbe1",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "fersaenz181@gmail.com",
          "mode": "list",
          "cachedResultName": "clinican8n"
        },
        "timeMax": "={{ $json.formattedDate }}T17:00:00",
        "options": {
          "outputFormat": "bookedSlots",
          "timezone": {
            "__rl": true,
            "value": "Europe/Madrid",
            "mode": "list",
            "cachedResultName": "Europe/Madrid"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        720,
        352
      ],
      "id": "e758bc52-6921-44e4-b467-f6ae679de36a",
      "name": "Get availability in a calendar",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pjBvS4mIslDHoJiA",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Get availability in a calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "fecha": "2026-03-20"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "e0e63049-02bc-4646-90af-c4d8303ed9d1",
  "activeVersionId": "bcd19fe5-3b9f-4496-ac63-8fbbf32ef020",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-13T09:48:17.251Z",
      "createdAt": "2026-03-13T09:48:17.251Z",
      "role": "workflow:owner",
      "workflowId": "NXGOaWHN5onyWLmL",
      "projectId": "MmvYKa71ccIMyArc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-13T10:53:36.000Z",
    "createdAt": "2026-03-13T10:45:27.499Z",
    "versionId": "bcd19fe5-3b9f-4496-ac63-8fbbf32ef020",
    "workflowId": "NXGOaWHN5onyWLmL",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "fecha"
              }
            ]
          }
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          272,
          352
        ],
        "alwaysOutputData": false
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          []
        ]
      }
    },
    "authors": "Fernando  Saenz",
    "name": "Version bcd19fe5",
    "description": "",
    "autosaved": true
  },
  "tags": []
}