workflows/elevenlabs.json
{
  "updatedAt": "2026-03-06T17:51:06.617Z",
  "createdAt": "2026-03-06T17:17:43.602Z",
  "id": "WloBXPoTL8OZV4Nl",
  "name": "elevenlabs",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "elevenlabas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        -32
      ],
      "id": "089a98a1-f834-4f34-94f3-a89b8ea8ddd8",
      "name": "Webhook",
      "webhookId": "04c13be3-3f30-469f-a91c-0ff1b23f8da9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.pregunta }}",
        "options": {
          "systemMessage": "Eres un agente super amable que ayuda a la gente a infrormarse sobre temas de la barberia."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -320,
        -32
      ],
      "id": "3666fd25-a22d-4a2a-85e4-8185a320bfd5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -320,
        192
      ],
      "id": "0450d04d-a80e-4284-ac39-87754e892055",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "N2JeEF92nbocT2XP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.headers['user-agent'] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -224,
        192
      ],
      "id": "0b61e2ba-e656-4266-af70-cc701df79f01",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        304
      ],
      "id": "c4b33f5a-47ce-4f8a-ab3c-e1dabffba7c4",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "N2JeEF92nbocT2XP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Utiliza los datos que tienes para responder a las preguntas",
        "pineconeIndex": {
          "__rl": true,
          "value": "elevenlabsudia",
          "mode": "list",
          "cachedResultName": "elevenlabsudia"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -64,
        96
      ],
      "id": "9eab0dcc-e4fb-4e4d-a819-ea01340999bd",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "s7tR8Lpm0Gu5QA4k",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        32,
        -32
      ],
      "id": "8b01f5e3-e1d2-4784-9dd5-b5b39fd1b223",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6ce6966d-ad5a-437b-b5e8-e44839232ce6",
  "activeVersionId": "11103a4f-79da-4ac1-9c59-09d09a37abcd",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-06T17:17:43.605Z",
      "createdAt": "2026-03-06T17:17:43.605Z",
      "role": "workflow:owner",
      "workflowId": "WloBXPoTL8OZV4Nl",
      "projectId": "MmvYKa71ccIMyArc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-06T17:47:49.000Z",
    "createdAt": "2026-03-06T17:47:08.000Z",
    "versionId": "11103a4f-79da-4ac1-9c59-09d09a37abcd",
    "workflowId": "WloBXPoTL8OZV4Nl",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "elevenlabas",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -544,
          -32
        ],
        "id": "089a98a1-f834-4f34-94f3-a89b8ea8ddd8",
        "name": "Webhook",
        "webhookId": "04c13be3-3f30-469f-a91c-0ff1b23f8da9"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.body.pregunta }}",
          "options": {
            "systemMessage": "Eres un agente super amable que ayuda a la gente a infrormarse sobre temas de la barberia."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -320,
          -32
        ],
        "id": "3666fd25-a22d-4a2a-85e4-8185a320bfd5",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "gpt-4o-mini"
          },
          "responsesApiEnabled": false,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -320,
          192
        ],
        "id": "0450d04d-a80e-4284-ac39-87754e892055",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "N2JeEF92nbocT2XP",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Webhook').item.json.headers['x-forwarded-host'] }}"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          -224,
          192
        ],
        "id": "0b61e2ba-e656-4266-af70-cc701df79f01",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          80,
          304
        ],
        "id": "c4b33f5a-47ce-4f8a-ab3c-e1dabffba7c4",
        "name": "Embeddings OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "N2JeEF92nbocT2XP",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Utiliza los datos que tienes para responder a las preguntas",
          "pineconeIndex": {
            "__rl": true,
            "value": "elevenlabsudia",
            "mode": "list",
            "cachedResultName": "elevenlabsudia"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3,
        "position": [
          -64,
          96
        ],
        "id": "9eab0dcc-e4fb-4e4d-a819-ea01340999bd",
        "name": "Pinecone Vector Store",
        "credentials": {
          "pineconeApi": {
            "id": "s7tR8Lpm0Gu5QA4k",
            "name": "PineconeApi account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          32,
          -32
        ],
        "id": "8b01f5e3-e1d2-4784-9dd5-b5b39fd1b223",
        "name": "Respond to Webhook"
      }
    ],
    "connections": {
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pinecone Vector Store": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Fernando  Saenz",
    "name": "Version 11103a4f",
    "description": "",
    "autosaved": true
  },
  "tags": []
}