workflows/extraccion_de_datos.json
{
  "updatedAt": "2026-03-09T09:36:45.119Z",
  "createdAt": "2026-03-02T17:12:05.752Z",
  "id": "EzRxDQanxhm2bLPN",
  "name": "extraccion de datos",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        144
      ],
      "id": "288569d2-754d-469c-bbc4-785338d9bc89",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"loc\": \"https://mascotalandia.es/26--natura-diet-daily-food-12kg-pienso-para-perros-con-pollo-y-arroz.html\",\n  \"image:image\": {\n    \"image:loc\": \"https://mascotalandia.es/38-large_default/natura-diet-daily-food-12kg-pienso-para-perros-con-pollo-y-arroz.jpg\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -64
      ],
      "id": "c6a66511-1035-4e88-b2ce-52db184f80d0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $json.loc }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"es-ES,es;q=0.9,en;q=0.8\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        320,
        144
      ],
      "id": "80f3920d-1f3c-41da-996f-d5041166cd74",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "nombre",
              "cssSelector": ".product_name"
            },
            {
              "key": "productor",
              "cssSelector": ".product-manufacturer"
            },
            {
              "key": "descripcion",
              "cssSelector": ".product-description"
            },
            {
              "key": "precio",
              "cssSelector": ".current-price"
            },
            {
              "key": "descripcion larga",
              "cssSelector": ".info_content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        0,
        -192
      ],
      "id": "ef631522-09a6-45e2-ad86-840017604edd",
      "name": "HTML"
    },
    {
      "parameters": {
        "text": "=Extrae toda la informacion del producto que te envio en html.\nTu debes devolver marca, nombre del producto, descripcion corta, descripcion larga y precio\n {{ $json.data }}",
        "attributes": {
          "attributes": [
            {
              "name": "nombre",
              "description": "nombre del producto",
              "required": true
            },
            {
              "name": "marca",
              "description": "marca del producto",
              "required": true
            },
            {
              "name": "descripcion corta",
              "description": "descripcion del producto corta ",
              "required": true
            },
            {
              "name": "descripcion larga",
              "description": "descripcion larga del producto",
              "required": true
            },
            {
              "name": "precio",
              "description": "precio del producto",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        672,
        144
      ],
      "id": "0bf90b1a-afa2-4c2f-b665-4a1e14c333ee",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        752,
        368
      ],
      "id": "823b3096-01be-40db-8acd-2993c8de7c5b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "RTwuewuhab5nutx5",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f0d02de9-09e5-47ed-bb4a-ab6e7540acf2",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-02T17:12:05.755Z",
      "createdAt": "2026-03-02T17:12:05.755Z",
      "role": "workflow:owner",
      "workflowId": "EzRxDQanxhm2bLPN",
      "projectId": "MmvYKa71ccIMyArc"
    }
  ],
  "activeVersion": null,
  "tags": []
}