workflows/LOOP.json
{
  "updatedAt": "2026-02-25T10:28:57.904Z",
  "createdAt": "2026-02-25T09:50:12.911Z",
  "id": "QI5lRxR-2J_cfuJUyMQT-",
  "name": "LOOP",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        80
      ],
      "id": "a8876c8d-604c-491e-aa6b-efb108ef90a0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://es.wired.com/feed/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        160,
        16
      ],
      "id": "c60f1768-2838-4e4c-bcff-d5d6e329fc0a",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        656,
        80
      ],
      "id": "fa35452e-4d9d-44f1-8e27-440047ac1ee1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0705aede-dc56-493d-8683-8f135bc06679",
              "name": "titulo modificado",
              "value": "=UDIA: {{ $json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        288
      ],
      "id": "ccd79c29-76f3-4fe7-b636-61d4ecff1eb3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ctk9uHvs_LIBb0Vcm8SkGOvNTCwuA_RdSqsDAcQjQhc",
          "mode": "list",
          "cachedResultName": "LOOP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ctk9uHvs_LIBb0Vcm8SkGOvNTCwuA_RdSqsDAcQjQhc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ctk9uHvs_LIBb0Vcm8SkGOvNTCwuA_RdSqsDAcQjQhc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TITULO": "={{ $json['titulo modificado'] }}",
            "AUTOR": "={{ $('RSS Read').item.json.creator }}",
            "DESCRIPCION": "={{ $('RSS Read').item.json.content }}",
            "FECHA": "={{ $('RSS Read').item.json.isoDate }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TITULO",
              "displayName": "TITULO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DESCRIPCION",
              "displayName": "DESCRIPCION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AUTOR",
              "displayName": "AUTOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1104,
        304
      ],
      "id": "da660b0e-a5f0-4849-b069-acb88d6dbe10",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S03et5OVpjcoBnA0",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1437217337",
        "text": "¡Loop completado!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        -144
      ],
      "id": "9364196c-95c0-479f-83c5-cd3a7dfda7ea",
      "name": "Send a text message",
      "webhookId": "482513a2-73da-48e5-9cc0-9ab7718ec153",
      "credentials": {
        "telegramApi": {
          "id": "1nzQW7gGvoGma654",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        816,
        -112
      ],
      "id": "34dc0002-5b50-4ce6-a69c-7bfdfea60d25",
      "name": "Limit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b44b1a20-1241-4698-894f-bf43ae64fc6e",
              "leftValue": "={{ $json.creator }}",
              "rightValue": "Fernanda González",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        368,
        16
      ],
      "id": "45e3284a-4bd8-460a-941c-1be00ec5c1ad",
      "name": "Filter"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "be410efe-2b44-4b17-86f0-e90ca8680257",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-25T09:50:12.914Z",
      "createdAt": "2026-02-25T09:50:12.914Z",
      "role": "workflow:owner",
      "workflowId": "QI5lRxR-2J_cfuJUyMQT-",
      "projectId": "MmvYKa71ccIMyArc"
    }
  ],
  "activeVersion": null,
  "tags": []
}