workflows/My_workflow_2.json
{
  "updatedAt": "2026-02-10T17:31:32.325Z",
  "createdAt": "2026-02-09T10:27:13.337Z",
  "id": "h9_XBkNecZkKNR-zI_GYb",
  "name": "My workflow 2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -304,
        -80
      ],
      "id": "f78e3ea9-9e47-4f51-846f-0f0f12aab2c0",
      "name": "When chat message received",
      "webhookId": "44bde787-87ce-42d1-b10c-b3e4a082cdd8"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1pHLEhF1ccWTSQuMITZOYESBgddzLLlAUvLT1cP7WV5Y/edit?gid=0#gid=0",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pHLEhF1ccWTSQuMITZOYESBgddzLLlAUvLT1cP7WV5Y/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Busqueda": "={{ $json.chatInput }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Busqueda",
              "displayName": "Busqueda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respuesta",
              "displayName": "Respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        -80
      ],
      "id": "9935f022-f726-4cee-929c-b7ff3fd9e940",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S03et5OVpjcoBnA0",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un asistente que me ayuda a buscar en google con la herramienta Api Google todas las url y nombres que te pida por el chat el usuario"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        112,
        -80
      ],
      "id": "5d13d939-81b6-41f2-9199-52948eeb4383",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        96
      ],
      "id": "be799924-b4a0-4e01-82b9-3bd37f56e7fc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "RTwuewuhab5nutx5",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        128,
        128
      ],
      "id": "d05be0af-6bb3-40cf-893d-78b4401188cf",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Esta tool busca en google los terminos que indica el usuario",
        "url": "https://real-time-web-search.p.rapidapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-RapidAPI-Host",
              "value": "real-time-web-search.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "6ed66002bemshac30dd4c1ab6056p178209jsn7e81f558563a"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        240,
        112
      ],
      "id": "53f04889-e1cd-49b3-81e6-e9857109dbd6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -32,
        128
      ],
      "id": "2eb3c731-8e62-406a-b490-94af2db07ae5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "N2JeEF92nbocT2XP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"resultados\": [\n    {\n      \"nombre\": \"Nombre de la página web 1\",\n      \"url\": \"https://miweb1.com\"\n    },\n    {\n      \"nombre\": \"Nombre de la página web 2\",\n      \"url\": \"https://miweb2.com\"\n    },\n    {\n      \"nombre\": \"Nombre de la página web 3\",\n      \"url\": \"https://miweb3.com\"\n    }\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        400,
        48
      ],
      "id": "97a8aadc-699c-48b9-b4e7-fd39c64eb9d8",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1pHLEhF1ccWTSQuMITZOYESBgddzLLlAUvLT1cP7WV5Y/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pHLEhF1ccWTSQuMITZOYESBgddzLLlAUvLT1cP7WV5Y/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Busqueda": "={{ $('Append row in sheet').item.json.Busqueda }}",
            "Respuesta": "={{ $json.output.resultados }}"
          },
          "matchingColumns": [
            "Busqueda"
          ],
          "schema": [
            {
              "id": "Busqueda",
              "displayName": "Busqueda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Respuesta",
              "displayName": "Respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        -80
      ],
      "id": "9e0f2e14-299a-47c4-8896-5e423ad86fb3",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S03et5OVpjcoBnA0",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "afe91033-7f29-4eba-9919-692ee7008a43",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-09T10:27:13.342Z",
      "createdAt": "2026-02-09T10:27:13.342Z",
      "role": "workflow:owner",
      "workflowId": "h9_XBkNecZkKNR-zI_GYb",
      "projectId": "MmvYKa71ccIMyArc"
    }
  ],
  "activeVersion": null,
  "tags": []
}